.cart-page{
    margin-bottom: 50px;
    margin-top:40px ;
    background-color: white;

}
.cart-page h1{
    text-align: center;
   
}
.details img{
    height: 100px;
    
}
.details{
    border: 1px solid #ddd;
    margin-left: 2%;
}

.details ul{
    padding: 0;
    margin: 0;
    text-align: center;
    padding-bottom: 15px;
    margin-left: 2%;
    display: flex;
    list-style: none ;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.summary h3{
    text-align: center;
}

.summary ul {
    border: 1px solid #ddd;
    list-style-type: none;
    padding: 15px;
}
.summary ul li{
    display: flex;
    justify-content: space-between;
}