<div class="container-fluid">
    <div class="row" style="background-color: bisque; margin-top: 1rem;">
        <div class="col-sm-6">
            <div style="margin-top: 8rem;margin-left: 5rem; color: orange;font-size: xx-large;">
                <h1>Amazon basics</h1>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <img style="width: 50%;height: 80%;margin-top: 4rem;"
                    src="../../assets/Retail_Box-triple_angle-v3-sm.png">
            </div>
        </div>
    </div>
</div>
<div class="nav">
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Bedroom</a>
        </li>
        <li>
            <a href="#">Kitchen</a>
        </li>
        <li>
            <a href="#">LivingRoom</a>
        </li>
        <li>
            <a href="#">Bathroom</a>
        </li>
        <li>
            <a href="#">DailyLiving</a>
        </li>
        <li>
            <a href="#">Seller</a>
        </li>
    </ul>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
<hr>
<div class="first-container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Highly Rated Fitness</h2>
            <img style="width: 100%;height: 90%;padding-left: 5%; "
                src="../../assets/Signature-Fitness-Dumbbells-Set-32-lbs.jpg" alt="">
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <img style="width: 90%;height: 100%; " src="../../assets/amazon.webp" alt="">
                </div>
                <div class="col-sm-12">
                    <h2>Kitchen</h2>
                    <img style="width: 90%;height: 83%;margin-top: 1rem; " src="../../assets/kitchen.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="forth-container">
        <h3 style="margin-top: 8%;">Share</h3>
        <p>Share this page with your friends.</p>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
</div>