<div class="first-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/background1.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/background2.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/background3.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  
    </div>
    <div class="row">
      <div class="col-sm-3" style="padding-left: 2%;">
        <div class="text-block">
          <h3>Top Deals</h3>
          <img class="trend-img" src="../../assets/foodprocessor.jpg" alt="">
          <a href="#">See all deals</a>
        </div>
      </div>
      <div class="col-sm-3" style="padding-left: 2%;">
        <div class="text-block">
          <h3>Shop trending home finds</h3>
          <img class="trend-img" src="../../assets/trends.webp" alt="">
          <a href="#">Discover all viral deals</a>
        </div>
      </div>
      <div class="col-sm-3" style="padding-left: 2%;">
        <div class="text-block">
          <h3>Hear all the best stories</h3>
          <img class="trend-img" src="../../assets/prime.png" alt="">
          <a href="#">Discover audio file</a>
        </div>
      </div>
      <div class="col-sm-3" style="padding-left: 2%;">
        <div class="text-block">
          <h3>Go places in new trends</h3>
          <img class="trend-img" src="../../assets/Retail_Box-triple_angle-v3-sm.png" alt="">
          <a href="#" class="footer">Shop premium Brands Fasion</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3" style="padding-left: 2%;">
        <div class="card-img">
          <h3>Top Deals</h3>
          <img class="trend-img" src="../../assets/foodprocessor.jpg" alt="">
          <a href="#">See all deals</a>
        </div>
      </div>
      <div class="col-sm-3" style="padding-left: 2%;">
        <div class="card-img">
          <h3>Shop trending home finds</h3>
          <img class="trend-img" src="../../assets/trends.webp" alt="">
          <a href="#">Discover all viral deals</a>
        </div>
      </div>
      <div class="col-sm-3" style="padding-left: 2%;">
        <div class="card-img">
          <h3>Hear all the best stories</h3>
          <img class="trend-img" src="../../assets/prime.png" alt="">
          <a href="#">Discover audio file</a>
        </div>
      </div>
      <div class="col-sm-3" style="padding-left: 2%;">
        <div class="card-img">
          <h3>Go places in new trends</h3>
          <img class="trend-img" src="../../assets/Retail_Box-triple_angle-v3-sm.png" alt="">
          <a href="#" class="footer">Shop premium Brands Fasion</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h3>Internet Famous
        </h3>
          </div>
    </div>
  </div>
  <div class="third-container">
    <div class="row" >
      <div class="col-sm-3">
        <div class="row" style="background-color: white;">
          <h3>Shop trending home finds</h3>
          <div class="col-sm-6">
            <img class="container-img" src="../../assets/foodprocessor.jpg" alt="">
            <a href="">Topper deal</a>
          </div>
          <div class="col-sm-6">
            <img class="container-img" src="../../assets/background2.webp" alt="">
            <a href="">Beauty</a>
          </div>
          <div class="col-sm-6"> 
            <img class="container-img" src="../../assets/Retail_Box-triple_angle-v3-sm.png" alt="">
            <a href="">Home</a>
          </div>
          <div class="col-sm-6">
            <img class="container-img" src="../../assets/trends.webp" alt="">
            <a href="">Swimmer</a>
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="row" style="background-color: white;">
          <h3>Viral products you will love</h3>
          <div class="col-sm-6">
            <img class="container-img" src="../../assets/background2.webp" alt="">
            <a href="">Topper deal</a>
          </div>
          <div class="col-sm-6">
            <img class="container-img"src="../../assets/trends.webp" alt="">
            <a href="">Beauty</a>
          </div>
          <div class="col-sm-6"> 
            <img class="container-img"src="../../assets/Retail_Box-triple_angle-v3-sm.png" alt="">
            <a href="">Home</a>
          </div>
          <div class="col-sm-6">
            <img class="container-img"src="../../assets/foodprocessor.jpg" alt="">
            <a href="">Swimmer</a>
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="row" style="background-color: white;">
          <h3>The warm-weather edit</h3>
          <div class="col-sm-6">
            <img class="container-img" src="../../assets/Retail_Box-triple_angle-v3-sm.png" alt="">
            <a href="">Topper deal</a>
          </div>
          <div class="col-sm-6">
            <img class="container-img"src="../../assets/trends.webp" alt="">
            <a href="">Beauty</a>
          </div>
          <div class="col-sm-6"> 
            <img class="container-img"src="../../assets/background2.webp" alt="">
            <a href="">Home</a>
          </div>
          <div class="col-sm-6">
            <img class="container-img"src="../../assets/foodprocessor.jpg" alt="">
            <a href="">Swimmer</a>
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>